@model IList<Blog.Models.Post>
@{
    ViewBag.Title = "Index";
}

@*<a href="@Url.Action("adicionaPost","Home")">Adiciona_Post</a>*@
@foreach (var item in Model)
{
    <article>   
            <h1>@item.Titulo</h1>
            <P> @item.Resumo </P>        
    </article>

}










