
@{
    ViewBag.Title = "_Cabecalho";
}

<header>
    <div class="jumbotron">
        <h1>Resenha Cultural</h1>
        <p>Criticas bem humaoradas sobre filmes, musicas, livros e tudo o que agita o cenário cultural</p>
    </div>
</header>

